@charset 'UTF-8';

body{
    color: aliceblue;
    background-color: rgb(1, 90, 255);
    font: normal 15pt;
}

header{
    text-align: center;
}

section{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.582) 5px 5px 10px;
}

footer{
    text-align: center;
    font-style: italic;
}